* {
    background-color: antiquewhite;
}

.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    border-radius: 20px;
}

h1 {
    text-align: center;
}

ul {
    display: inline-block;
}